.paragraph--type--blocks-about-us {

	max-width: 1200px;
	margin: 0 auto;
	 position: relative;
    z-index: 100;
    margin-top: -180px;
    margin-bottom: 100px;

  .field--name-field-block-about-us {

    display: flex;
	  justify-content: space-between;


 	  .field__item { width: 390px; }

  }
  
 .field--name-field-icon img{
 	  float: left;
 	  padding: 30px 10px 10px 30px;
 }

	.field--name-field-title:first-line { 

    	color: black;
   }
   .field--name-field-title {
   	margin-top: 50px;
   	color: #B4B4B4;
   	 
    line-height: 1.4;
   	 }
   	 .field--name-field-body {
   	 	line-height: 1.8;
   	 	color: #B4B4B4;
   	 	padding:30px;
      box-sizing: border-box;
   	 }
   	 .field--name-field-link a:before {
   	 	content: '';
   	 	display: inline-block;
   	 	vertical-align: bottom;
   	 	background-repeat: no-repeat;
   	 	width: 20px;
   	 	height: 20px;
   	 	background-image: url(../images/how.png);
   	 }
   	 .field--name-field-link { padding: 0px 0px 30px 30px; }
   	 .field--name-field-link a{
   	 	text-decoration: none;
   	 	color: black;
   	 }
  }
.field--name-field-block-about-us .field__item:first-child .field--name-field-title-block { background-color: #FDAC3A; }
.field--name-field-block-about-us .field__item .field--name-field-title-block{
	color: white;
	background-color: #277AF9;
  padding: 20px 0px 20px 30px;
  box-sizing: border-box;
  font-size: 30px;
}
.field--name-field-block-about-us .field__item:last-child .field--name-field-title-block { background-color: #6E6E6E; }
.paragraph--type--block-about-us { background-color: white; }
@media screen and (min-width: 0px) and (max-width: 768px) {

  .paragraph--type--blocks-about-us .field--name-field-block-about-us { flex-direction: column; }
  .paragraph--type--blocks-about-us .field--name-field-block-about-us .field__item { width: auto; }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {

  .paragraph--type--blocks-about-us .field--name-field-block-about-us .field__item { width: auto; }
}