#contact-message-subscription-form {
		#edit-subject-0-value {
			width: 300px;
			height: 30px;
    		border-radius: 5px;
    		border: 0;
		}
		label { display: none; }
		#edit-preview { display: none; }
		display:flex;
}
.contact-message-subscription-form {
	.field__label {
		margin-bottom: -5px;
		color: white;
	}
	input[type=submit] {
			height: 35px;
    		border-radius: 5px;
    		border: 1px solid #6E6E6E;
    		background-color: #373737;
    		color: white;
    		margin-left: 5px;
    		padding: 5px 30px;

	}
}
.field--name-field-contact-form {
	.field__label {
	  color: white;
	  font-size: 20px;
	  font-weight: bold; 
	}
	margin-top:25px;
}
.form-type-textfield { padding-right: 5px; }