.slick-dots li button {
  position: absolute;
  top: -420px;
  left: -540px;
  background-color: #DBDBDB;
}
.slick-dots li button:before { content: ''; }

.slick-dots li button[aria-selected="true"] { background-color: orange; }
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .slick-dots li button { display: none; }
}