.lang-dropdown-select-element {
  border: 1px solid #D7D7D7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #f4f4f4;
  vertical-align: top;
  color:gray;
  height: 29px;
  padding: 5px;	
  -webkit-appearance: none;
  margin-right: 20px;
}
.selectlang:after {
  content: '';
  width: 26px;
  height: 26.5px;
  display: inline-block;
  border: 1px solid #979797;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color:#DCDCDC;
  vertical-align: top;
  margin-right: 20px;
  pointer-events: none;
  background-image: url(../images/bottom.png);
  position: absolute;
  right:0;
}


.region-header .selectlang { position: relative; }

