.paragraph--type--featured-news {
	.field--name-field-title{
		font-size: 30px;
		margin-bottom: 30px;
	}
	.field--name-field-subtitle {
		margin-bottom: 20px;
		line-height: 1.4;
		width: 450px;
		color: #B4B4B4;
	}
	.field--name-field-body {
		margin-bottom: 50px;
		width: 680px;
		line-height: 1.7;
		color: #B4B4B4;
	}
	.field--name-field-link a {
		text-decoration: none;
		color: white;
		background-color: #FDAC3A;
		padding:15px;
		border-radius: 7px;
	}
	margin-bottom:70px;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
	.paragraph--type--featured-news {
	.field--name-field-subtitle { width: auto; }
	.field--name-field-body { width: auto; }
}
.paragraph--type--wrapper-content { padding: 20px; }
}
