.region-footer-second { display: flex; }
@media screen and (min-width: 1024px) and (max-width: 1366px) {
		.region-footer-second { flex-direction: column; }
		.region-footer-second nav {
			border-right-width: 0px;
			margin-left: 70px;
		}
		.paragraph--type--contact-info { margin-left: 140px; }
		.field--name-field-contact-form { margin-left: 140px; }
}