.region-footer-first {
   margin-bottom:70px;
	background-color: #373737;
	
	.field--name-field-link { display: flex; }
	.field--name-field-link a {
		color: #B4B4B4;	
		text-decoration: none;
	}
	.footer-first-content {
		max-width: 1200px;
		display: flex;
		padding:16px;
		justify-content: space-between;
		margin: 0 auto;
	
	}
	.field--name-field-social-links { display: flex; }

	.field--name-field-social-links .field__item { margin-right: 16px; }

	.field--name-field-social-links .field__item  img { filter: invert(80%); }
     .field--name-field-link .field__item {
     	&:before{
     		content:'';
     		display: inline-block;
     		width: 24px;
     		height: 24px;
     		vertical-align: bottom;
     		background-image: url(../images/footer_right.png);
     		padding-right: 7px;
     		background-repeat: no-repeat;
     		filter: hue-rotate(10deg);
     	}
  	margin-top:5px;
  	margin-right:16px;
     
     } 
}
.region-footer-first .field--name-field-social .field--name-field-link .field__item { display: none; }
.site-footer { background-color: #373737; }
@media screen and (min-width: 0px) and (max-width: 768px) {
	.region-footer-first {
		.field--name-field-link {
		display: flex;
		flex-direction: column;
		
	}
	.field--name-field-link .field__item { width: 200px; }
	.field--name-field-social-links { margin-top: 35px; }
    }
	.region-footer-first .footer-first-content { flex-direction: column; }
}