.region-header {

	display: flex;
	align-items: center;

  .field--name-field-logo img {
    width: 200px;
    height: auto;
  }


  input[type=submit]{
  	color: transparent;
  	width: 30px;
  	background-image: url(../images/search.png);
  	background-repeat: no-repeat;
  	border: 1px solid #979797;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 29px;
    background-position-x: 3px;
    background-position-y: 3px;
    margin-left: -5px;

}
  

  input[class=form-search]{
  	border: 1px solid #D7D7D7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #f4f4f4;
    vertical-align: top;
    height: 25px;

  }

 


  & {
  	max-width: 1200px;
  	margin:0 auto;
  }
 
  .loginspan{
  	color: #7D7D7D;
  	font-weight: bold;
  	margin-right: 20px;
  }

  .selectlang{
  	align-items: center;
  	display: flex;
  }
  .form-search::-webkit-input-placeholder { padding-left: 5px; }

}

#block-login{
	margin-left: auto;
	margin-right: 20px;
	a{
		text-decoration: none;
		color: #7D7D7D;
		font-weight: bold;
	}
}
@media screen and (min-width: 0px) and (max-width: 768px) {
.region-header{
  .field--name-field-logo img{

    width: 200px;
    height: auto;

  }

  .field--name-field-link{
    margin-bottom: 10px;
  }
  .lang-dropdown-select-element{
    margin-bottom: 10px;
  }
  .selectlang:after{
    display: none;
  }
  .lang-dropdown-select-element{
    -webkit-appearance:menulist-button;
  }
  padding:10px;
  display:block;
}

}
