.region-footer-second {
.field--name-field-information {
	.field--name-field-title {
		color: white;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	.field--name-field-body {
		color: #B4B4B4;
		width: 300px;
		line-height: 1.6;
	}
	.field--name-field-link a {
		color: #B4B4B4;
		text-decoration: none;
	}
	.field--name-field-link { line-height: 1.4; }
	border-bottom:2px solid #6e6e6e;
	padding-bottom:25px;
	margin-top:-40px;
  }
}