.region-primary-menu {
  .menu {
    background-color: #7D7D7D;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 0;
  }
  .menu li { list-style: none; }
  .menu li a {
		color: white;
		text-decoration: none;
  }
  #block-headermenu { margin-left: 200px; }
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -64px;
  }
.node__meta { display: none; }
@media screen and (min-width: 0px) and (max-width: 768px) {
  .region-primary-menu #block-headermenu  { margin-left: -15px; }
  .region-primary-menu .menu { flex-direction: column; }
  .region-primary-menu { margin-top: 0; }
  .field--name-field-logo { margin-bottom: 10px; }
}