.region-footer-second{
	max-width: 1200px;
	margin: 0 auto;

  .menus{
    line-height: 1.3;
  	margin-top: -40px;
  	display: flex;
  	width: 820px;
   }
   .menus li{ list-style: none; }
   	.menus li ul li ul li a{
   		text-decoration: none;
   		color: #B4B4B4;
   	}
   	.menus li a{

   		text-decoration: none;
   		color: white;
   	}
   	.menu{ margin-top: 20px; }

   	
   	
   	nav{
   		
   		margin-bottom: 100px;
   		margin-top: -40px;
   		border-right-width:300px; 
   		border-right: 2px solid #6e6e6e;
   		margin-left: -50px;
   		
   		margin-right: 50px;

   	}
   	.menus .menu-item--expanded{
      margin-top: 20px;
   		margin-right: 30px;
   	}
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .region-footer-second .menus{
    flex-direction: column;
  }
  .region-footer-second nav{
    height: auto;
    padding: 20px;
    border-right-width: 0px;
  }
  .region-footer-second {
    flex-direction: column;

    .block-block-content{
      padding: 20px;
    }
     #contact-message-subscription-form #edit-subject-0-value{
    width: 150px;
    
  }
  }
.slick-dots { display: none; }
.region-footer-second .menus{
  width: auto;
}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
   .region-footer-second .menus{
    flex-direction: row;
   }
}