.paragraph--type--news {
.field--name-field-icon img {
  	width: 100px;
  	height: auto;
  }
  .field--name-field-icon { margin-right: 20px; }
}
.field--name-field-news-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	.field__item { margin-bottom: 10px; }
}
.paragraph--type--news-wrapper {
	.field--name-field-title-block {
		font-size: 30px;
		margin-bottom: 30px;
	}
	.field--name-field-link { margin-bottom: 10px; }
	.field--name-field-link a {
		color: #B4B4B4;
		text-decoration: none;
	}
	.field--name-field-body {
		color: #B4B4B4;
		line-height: 1.2;
	}
}
.paragraph--type--next-event {
	margin-bottom:30px;
}
.paragraph--type--news {
	display: flex;
}