.paragraph--type--next-event{
	.field--name-field-title{
		font-size: 30px;
		margin-bottom: 30px;
	}

	.field--name-field-date{
		font-size: 30px;
		width: 20px;
	
		margin-right: 65px;
		
		&:first-line{
			font-size:60px;
			font-weight:bold;
		}
	}
	.field--name-field-body{
	width: 420px;
    line-height: 1.5;
    color: #B4B4B4;

	}
	.field-group-accordion-wrapper{
		display: flex;
	}
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	.paragraph--type--next-event{
		.field--name-field-body{
			width: auto;
		}
	  
	}
}