.paragraph--type--quote img {
	width:150px;
	height:auto;
}
.paragraph--type--quote{
	background-color: white;
	margin-bottom: 30px;
	position: relative;
	.field--name-field-body:before{
			content:'';
			display: inline-block;
			width: 32px;
			position: absolute;
			top: 20px;
			left: 20px;
			background-repeat: no-repeat;
			height: 32px;
			
			background-image: url(../images/commas.png);
			
		}
	.field--name-field-body{
		display: flex;
	}
	.field--name-field-author{
		line-height: 1.4;
		color: #B4B4B4;
   	 margin-right: 180px;
   	 width: 180px;
   
}

.field--name-field-author:first-line{
	
	color: black;
}
.field--name-field-body{
	padding:20px;
	line-height: 1.4;
	color: #B4B4B4;
	margin-left: 30px;
}
	
	.field-group-accordion-wrapper{
		margin-left: 50px;
		display: flex;
	}
	padding:20px;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
	.paragraph--type--quote{
		.field--name-field-body{
			margin-left: 0;
			margin-bottom: 10px;
		}
	}
	.paragraph--type--quote .field--name-field-body:before{
		display: none;
	}
	.paragraph--type--quote{
		
		padding: 20px;
	}
	.paragraph--type--quote .field--name-field-author{
		margin-right: 20px;

	}
	.field--name-field-image{
		display: flex;
		img{
			width: 100px;
			height: auto;
		}
	}
	.paragraph--type--quote .field-group-accordion-wrapper{
		
		margin-left: 0;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
     .paragraph--type--quote .field-group-accordion-wrapper{
		flex-direction: row;
	}
	
	.paragraph--type--quote .field--name-field-author{
		margin-right: 180px;
		margin-left: 20px;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
		.paragraph--type--quote .field--name-field-author{
			margin-left: 0px;
			margin-right: 30px;
}
}