.media--slick {
  width: 100%;
  height: 700px;
}
.media--slick img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.slick__slide {
.field--name-field-content {
	max-width: 1200px;
	margin: 0 auto;
}
.paragraph--type--wrapper-text {
	position: absolute;
	top: 100px;
}
.field--name-field-description {
	.field__item {
		color: #F5B945;
		font-size: 40px;
		width: 500px;
		line-height: 1.3;
	}
	.field__item:last-child { color: #595858; }
}
.field--name-field-link {
	margin-left: 260px;
	margin-top: 20px;
	a {
		text-decoration: none;
		color: #595858;
		font-weight: bold;
		font-size: 24px;
	 &:before {
	 	content:'';
	 	display: inline-block;
	 	width: 32px;
	 	height: 32px;
	 	background-image: url(../images/right.png);
	 	vertical-align: middle;
      }
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .slick__slide .field--name-field-description .field__item {
    width: 300px;
    font-size:20px;
    padding-left: 20px;
   }
    .slick__slide .field--name-field-link { margin-left: 110px; }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .slick__slide .field--name-field-content { padding:30px; }
}