.field--name-field-wrapper-content{
	display: flex;
	flex-wrap: wrap;
> .field__item:nth-child(1) { width: 60%; }
> .field__item:nth-child(2) { width: 40%; }

> .field__item:nth-child(3) {
  width: 50%;
  box-sizing:  border-box;

}
> .field__item:nth-child(4) { width: 50%; }
}
.paragraph--type--wrapper-content {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
.field--name-field-wrapper-content {
	flex-direction: column;
	> .field__item:nth-child(1){ width: auto; }
> .field__item:nth-child(2) { width: auto; }

> .field__item:nth-child(3) { width: auto; }
> .field__item:nth-child(4) { width: auto; }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
.field--name-field-wrapper-content {
  .paragraph--type--featured-news .field--name-field-body { width: 500px; }
  padding:30px;
  }
}