.region-header {
  display: flex;
  align-items: center; }
  .region-header .field--name-field-logo img {
    width: 200px;
    height: auto; }
  .region-header input[type=submit] {
    color: transparent;
    width: 30px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    border: 1px solid #979797;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 29px;
    background-position-x: 3px;
    background-position-y: 3px;
    margin-left: -5px; }
  .region-header input[class=form-search] {
    border: 1px solid #D7D7D7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #f4f4f4;
    vertical-align: top;
    height: 25px; }
  .region-header {
    max-width: 1200px;
    margin: 0 auto; }
  .region-header .loginspan {
    color: #7D7D7D;
    font-weight: bold;
    margin-right: 20px; }
  .region-header .selectlang {
    align-items: center;
    display: flex; }
  .region-header .form-search::-webkit-input-placeholder {
    padding-left: 5px; }

#block-login {
  margin-left: auto;
  margin-right: 20px; }
  #block-login a {
    text-decoration: none;
    color: #7D7D7D;
    font-weight: bold; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .region-header {
    padding: 10px;
    display: block; }
    .region-header .field--name-field-logo img {
      width: 200px;
      height: auto; }
    .region-header .field--name-field-link {
      margin-bottom: 10px; }
    .region-header .lang-dropdown-select-element {
      margin-bottom: 10px; }
    .region-header .selectlang:after {
      display: none; }
    .region-header .lang-dropdown-select-element {
      -webkit-appearance: menulist-button; } }
.region-primary-menu {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -64px; }
  .region-primary-menu .menu {
    background-color: #7D7D7D;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 0; }
  .region-primary-menu .menu li {
    list-style: none; }
  .region-primary-menu .menu li a {
    color: white;
    text-decoration: none; }
  .region-primary-menu #block-headermenu {
    margin-left: 200px; }

.node__meta {
  display: none; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .region-primary-menu #block-headermenu {
    margin-left: -15px; }

  .region-primary-menu .menu {
    flex-direction: column; }

  .region-primary-menu {
    margin-top: 0; }

  .field--name-field-logo {
    margin-bottom: 10px; } }
.media--slick {
  width: 100%;
  height: 700px; }

.media--slick img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; }

.slick__slide .field--name-field-content {
  max-width: 1200px;
  margin: 0 auto; }
.slick__slide .paragraph--type--wrapper-text {
  position: absolute;
  top: 100px; }
.slick__slide .field--name-field-description .field__item {
  color: #F5B945;
  font-size: 40px;
  width: 500px;
  line-height: 1.3; }
.slick__slide .field--name-field-description .field__item:last-child {
  color: #595858; }
.slick__slide .field--name-field-link {
  margin-left: 260px;
  margin-top: 20px; }
  .slick__slide .field--name-field-link a {
    text-decoration: none;
    color: #595858;
    font-weight: bold;
    font-size: 24px; }
    .slick__slide .field--name-field-link a:before {
      content: '';
      display: inline-block;
      width: 32px;
      height: 32px;
      background-image: url(../images/right.png);
      vertical-align: middle; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .slick__slide .field--name-field-description .field__item {
    width: 300px;
    font-size: 20px;
    padding-left: 20px; }

  .slick__slide .field--name-field-link {
    margin-left: 110px; } }
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .slick__slide .field--name-field-content {
    padding: 30px; } }
.lang-dropdown-select-element {
  border: 1px solid #D7D7D7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #f4f4f4;
  vertical-align: top;
  color: gray;
  height: 29px;
  padding: 5px;
  -webkit-appearance: none;
  margin-right: 20px; }

.selectlang:after {
  content: '';
  width: 26px;
  height: 26.5px;
  display: inline-block;
  border: 1px solid #979797;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #DCDCDC;
  vertical-align: top;
  margin-right: 20px;
  pointer-events: none;
  background-image: url(../images/bottom.png);
  position: absolute;
  right: 0; }

.region-header .selectlang {
  position: relative; }

.paragraph--type--blocks-about-us {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  margin-top: -180px;
  margin-bottom: 100px; }
  .paragraph--type--blocks-about-us .field--name-field-block-about-us {
    display: flex;
    justify-content: space-between; }
    .paragraph--type--blocks-about-us .field--name-field-block-about-us .field__item {
      width: 390px; }
  .paragraph--type--blocks-about-us .field--name-field-icon img {
    float: left;
    padding: 30px 10px 10px 30px; }
  .paragraph--type--blocks-about-us .field--name-field-title:first-line {
    color: black; }
  .paragraph--type--blocks-about-us .field--name-field-title {
    margin-top: 50px;
    color: #B4B4B4;
    line-height: 1.4; }
  .paragraph--type--blocks-about-us .field--name-field-body {
    line-height: 1.8;
    color: #B4B4B4;
    padding: 30px;
    box-sizing: border-box; }
  .paragraph--type--blocks-about-us .field--name-field-link a:before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-image: url(../images/how.png); }
  .paragraph--type--blocks-about-us .field--name-field-link {
    padding: 0px 0px 30px 30px; }
  .paragraph--type--blocks-about-us .field--name-field-link a {
    text-decoration: none;
    color: black; }

.field--name-field-block-about-us .field__item:first-child .field--name-field-title-block {
  background-color: #FDAC3A; }

.field--name-field-block-about-us .field__item .field--name-field-title-block {
  color: white;
  background-color: #277AF9;
  padding: 20px 0px 20px 30px;
  box-sizing: border-box;
  font-size: 30px; }

.field--name-field-block-about-us .field__item:last-child .field--name-field-title-block {
  background-color: #6E6E6E; }

.paragraph--type--block-about-us {
  background-color: white; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .paragraph--type--blocks-about-us .field--name-field-block-about-us {
    flex-direction: column; }

  .paragraph--type--blocks-about-us .field--name-field-block-about-us .field__item {
    width: auto; } }
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .paragraph--type--blocks-about-us .field--name-field-block-about-us .field__item {
    width: auto; } }
.paragraph--type--news .field--name-field-icon img {
  width: 100px;
  height: auto; }
.paragraph--type--news .field--name-field-icon {
  margin-right: 20px; }

.field--name-field-news-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px; }
  .field--name-field-news-wrapper .field__item {
    margin-bottom: 10px; }

.paragraph--type--news-wrapper .field--name-field-title-block {
  font-size: 30px;
  margin-bottom: 30px; }
.paragraph--type--news-wrapper .field--name-field-link {
  margin-bottom: 10px; }
.paragraph--type--news-wrapper .field--name-field-link a {
  color: #B4B4B4;
  text-decoration: none; }
.paragraph--type--news-wrapper .field--name-field-body {
  color: #B4B4B4;
  line-height: 1.2; }

.paragraph--type--next-event {
  margin-bottom: 30px; }

.paragraph--type--news {
  display: flex; }

.paragraph--type--quote img {
  width: 150px;
  height: auto; }

.paragraph--type--quote {
  background-color: white;
  margin-bottom: 30px;
  position: relative;
  padding: 20px; }
  .paragraph--type--quote .field--name-field-body:before {
    content: '';
    display: inline-block;
    width: 32px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-repeat: no-repeat;
    height: 32px;
    background-image: url(../images/commas.png); }
  .paragraph--type--quote .field--name-field-body {
    display: flex; }
  .paragraph--type--quote .field--name-field-author {
    line-height: 1.4;
    color: #B4B4B4;
    margin-right: 180px;
    width: 180px; }
  .paragraph--type--quote .field--name-field-author:first-line {
    color: black; }
  .paragraph--type--quote .field--name-field-body {
    padding: 20px;
    line-height: 1.4;
    color: #B4B4B4;
    margin-left: 30px; }
  .paragraph--type--quote .field-group-accordion-wrapper {
    margin-left: 50px;
    display: flex; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .paragraph--type--quote .field--name-field-body {
    margin-left: 0;
    margin-bottom: 10px; }

  .paragraph--type--quote .field--name-field-body:before {
    display: none; }

  .paragraph--type--quote {
    padding: 20px; }

  .paragraph--type--quote .field--name-field-author {
    margin-right: 20px; }

  .field--name-field-image {
    display: flex; }
    .field--name-field-image img {
      width: 100px;
      height: auto; }

  .paragraph--type--quote .field-group-accordion-wrapper {
    margin-left: 0; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .paragraph--type--quote .field-group-accordion-wrapper {
    flex-direction: row; }

  .paragraph--type--quote .field--name-field-author {
    margin-right: 180px;
    margin-left: 20px; } }
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .paragraph--type--quote .field--name-field-author {
    margin-left: 0px;
    margin-right: 30px; } }
.slick-dots li button {
  position: absolute;
  top: -420px;
  left: -540px;
  background-color: #DBDBDB; }

.slick-dots li button:before {
  content: ''; }

.slick-dots li button[aria-selected="true"] {
  background-color: orange; }

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .slick-dots li button {
    display: none; } }
.paragraph--type--featured-news {
  margin-bottom: 70px; }
  .paragraph--type--featured-news .field--name-field-title {
    font-size: 30px;
    margin-bottom: 30px; }
  .paragraph--type--featured-news .field--name-field-subtitle {
    margin-bottom: 20px;
    line-height: 1.4;
    width: 450px;
    color: #B4B4B4; }
  .paragraph--type--featured-news .field--name-field-body {
    margin-bottom: 50px;
    width: 680px;
    line-height: 1.7;
    color: #B4B4B4; }
  .paragraph--type--featured-news .field--name-field-link a {
    text-decoration: none;
    color: white;
    background-color: #FDAC3A;
    padding: 15px;
    border-radius: 7px; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .paragraph--type--featured-news .field--name-field-subtitle {
    width: auto; }
  .paragraph--type--featured-news .field--name-field-body {
    width: auto; }

  .paragraph--type--wrapper-content {
    padding: 20px; } }
.field--name-field-wrapper-content {
  display: flex;
  flex-wrap: wrap; }
  .field--name-field-wrapper-content > .field__item:nth-child(1) {
    width: 60%; }
  .field--name-field-wrapper-content > .field__item:nth-child(2) {
    width: 40%; }
  .field--name-field-wrapper-content > .field__item:nth-child(3) {
    width: 50%;
    box-sizing: border-box; }
  .field--name-field-wrapper-content > .field__item:nth-child(4) {
    width: 50%; }

.paragraph--type--wrapper-content {
  max-width: 1200px;
  margin: 0 auto; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .field--name-field-wrapper-content {
    flex-direction: column; }
    .field--name-field-wrapper-content > .field__item:nth-child(1) {
      width: auto; }
    .field--name-field-wrapper-content > .field__item:nth-child(2) {
      width: auto; }
    .field--name-field-wrapper-content > .field__item:nth-child(3) {
      width: auto; }
    .field--name-field-wrapper-content > .field__item:nth-child(4) {
      width: auto; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .field--name-field-wrapper-content {
    padding: 30px; }
    .field--name-field-wrapper-content .paragraph--type--featured-news .field--name-field-body {
      width: 500px; } }
.paragraph--type--next-event .field--name-field-title {
  font-size: 30px;
  margin-bottom: 30px; }
.paragraph--type--next-event .field--name-field-date {
  font-size: 30px;
  width: 20px;
  margin-right: 65px; }
  .paragraph--type--next-event .field--name-field-date:first-line {
    font-size: 60px;
    font-weight: bold; }
.paragraph--type--next-event .field--name-field-body {
  width: 420px;
  line-height: 1.5;
  color: #B4B4B4; }
.paragraph--type--next-event .field-group-accordion-wrapper {
  display: flex; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .paragraph--type--next-event .field--name-field-body {
    width: auto; } }
.region-footer-first {
  margin-bottom: 70px;
  background-color: #373737; }
  .region-footer-first .field--name-field-link {
    display: flex; }
  .region-footer-first .field--name-field-link a {
    color: #B4B4B4;
    text-decoration: none; }
  .region-footer-first .footer-first-content {
    max-width: 1200px;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    margin: 0 auto; }
  .region-footer-first .field--name-field-social-links {
    display: flex; }
  .region-footer-first .field--name-field-social-links .field__item {
    margin-right: 16px; }
  .region-footer-first .field--name-field-social-links .field__item img {
    filter: invert(80%); }
  .region-footer-first .field--name-field-link .field__item {
    margin-top: 5px;
    margin-right: 16px; }
    .region-footer-first .field--name-field-link .field__item:before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      vertical-align: bottom;
      background-image: url(../images/footer_right.png);
      padding-right: 7px;
      background-repeat: no-repeat;
      filter: hue-rotate(10deg); }

.region-footer-first .field--name-field-social .field--name-field-link .field__item {
  display: none; }

.site-footer {
  background-color: #373737; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .region-footer-first .field--name-field-link {
    display: flex;
    flex-direction: column; }
  .region-footer-first .field--name-field-link .field__item {
    width: 200px; }
  .region-footer-first .field--name-field-social-links {
    margin-top: 35px; }

  .region-footer-first .footer-first-content {
    flex-direction: column; } }
.region-footer-second {
  max-width: 1200px;
  margin: 0 auto; }
  .region-footer-second .menus {
    line-height: 1.3;
    margin-top: -40px;
    display: flex;
    width: 820px; }
  .region-footer-second .menus li {
    list-style: none; }
  .region-footer-second .menus li ul li ul li a {
    text-decoration: none;
    color: #B4B4B4; }
  .region-footer-second .menus li a {
    text-decoration: none;
    color: white; }
  .region-footer-second .menu {
    margin-top: 20px; }
  .region-footer-second nav {
    margin-bottom: 100px;
    margin-top: -40px;
    border-right-width: 300px;
    border-right: 2px solid #6e6e6e;
    margin-left: -50px;
    margin-right: 50px; }
  .region-footer-second .menus .menu-item--expanded {
    margin-top: 20px;
    margin-right: 30px; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .region-footer-second .menus {
    flex-direction: column; }

  .region-footer-second nav {
    height: auto;
    padding: 20px;
    border-right-width: 0px; }

  .region-footer-second {
    flex-direction: column; }
    .region-footer-second .block-block-content {
      padding: 20px; }
    .region-footer-second #contact-message-subscription-form #edit-subject-0-value {
      width: 150px; }

  .slick-dots {
    display: none; }

  .region-footer-second .menus {
    width: auto; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .region-footer-second .menus {
    flex-direction: row; } }
.region-footer-second .field--name-field-information {
  border-bottom: 2px solid #6e6e6e;
  padding-bottom: 25px;
  margin-top: -40px; }
  .region-footer-second .field--name-field-information .field--name-field-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px; }
  .region-footer-second .field--name-field-information .field--name-field-body {
    color: #B4B4B4;
    width: 300px;
    line-height: 1.6; }
  .region-footer-second .field--name-field-information .field--name-field-link a {
    color: #B4B4B4;
    text-decoration: none; }
  .region-footer-second .field--name-field-information .field--name-field-link {
    line-height: 1.4; }

#contact-message-subscription-form {
  display: flex; }
  #contact-message-subscription-form #edit-subject-0-value {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 0; }
  #contact-message-subscription-form label {
    display: none; }
  #contact-message-subscription-form #edit-preview {
    display: none; }

.contact-message-subscription-form .field__label {
  margin-bottom: -5px;
  color: white; }
.contact-message-subscription-form input[type=submit] {
  height: 35px;
  border-radius: 5px;
  border: 1px solid #6E6E6E;
  background-color: #373737;
  color: white;
  margin-left: 5px;
  padding: 5px 30px; }

.field--name-field-contact-form {
  margin-top: 25px; }
  .field--name-field-contact-form .field__label {
    color: white;
    font-size: 20px;
    font-weight: bold; }

.form-type-textfield {
  padding-right: 5px; }

.region-footer-second {
  display: flex; }

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .region-footer-second {
    flex-direction: column; }

  .region-footer-second nav {
    border-right-width: 0px;
    margin-left: 70px; }

  .paragraph--type--contact-info {
    margin-left: 140px; }

  .field--name-field-contact-form {
    margin-left: 140px; } }
.region-content {
  background-color: #F4F4F4; }

/*# sourceMappingURL=style.css.map */
